@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset browser default styling */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #22272d;
  color: #fff;
  padding: 30px;
  margin: 0;
  display: flex;
  /* change to row, you might like the style */
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  background: #ffffffff;
  box-sizing: border-box;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

header a:hover{
  color: #02a9f4;
  transition: 0.4s;
}

h1 {
  margin-top: 30px;
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
}

h2 {
  color: #fff;
  font-size: 35px;
}

h3 {
  color: #fff;
  font-size: 30px;
  display: flex;
}

h4 {
  color: #fff;
  font-size: 28px;
  display: flex;
}

p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 25px;
}

a {
  color: #02a9f4;
}


/* sections */

section {
  font-family: "Poppins";
  text-align: center;
  margin: 50px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

section h3 {
  font-size: 2rem;
}

.section-1 {
  text-align: center;
}

/*contributed b aryan */


  .zoom-effect1{
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .zoom-effect1:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
